body{
    margin: 0%;
    padding: 0%;
    background: url('lively.jpg');

}
.left{
    position: absolute;
    display: inline-block;
    top: 10px;
    left: 34px;
    border: 10px;
    
}
.right{
    position: absolute;
    display: inline-block;
    top: 10px;
    right: 34px;
    border: 10px;
    
}
.mid{
    display: block;
    width: 33%;
    margin: 10px auto;
   
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font: 25px;
}
.navbar a{
    text-decoration: none;
    color: antiquewhite;
    padding: 5px 20px;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    background-color: rgb(84, 77, 77);
    border-radius: 20px;
}
.left img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.left div{
    color: antiquewhite;
    text-align: center;
    font: 100px;
    font-family: 'Finlandica', sans-serif;
    font-family: 'Splash', cursive;
    background-color: rgb(44, 84, 89);
    border-radius: 30%;
}
.btn{
    border-radius: 20px;
    border: none;
    padding: 5px 20px;
    color: antiquewhite;
    background-color:rgb(84, 77, 77) ;
}
.btn:hover{
    cursor: pointer;
    background-color: black;
}
.container{
    margin: 70px;
    width:33%;
    margin:100px 80px;
    padding: 70px;
    border-radius: 28px;
    background-color: beige;
}
.container h2{
    color: rgb(40, 3, 3);
    font: 50px; 
    text-align: center;
}
.form input{
    text-align: center;
    display: block;
    width: 508px;
    padding:10px;
    margin: 10px auto;
}
.btn2{ border-radius: 20px;
    border: none;
    padding: 5px 20px;
    color: antiquewhite;
    background-color:rgb(84, 77, 77) ;
    position:relative;    
    top :20px;
}
.btn2:hover{
    cursor: pointer;
    background-color: black;
}